* {
    font-family: CartographCF Nerd Font,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: transparent;
}

#custom-notification {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: #cb7cbe ;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	rgb(244, 240, 233) ;
    border: none;
    border-bottom: 6px solid #8a4a80;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 10px;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 10px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: #fff ;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: 8px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	#cba6f7 ;
    border: none;
    border-bottom: 6px solid #d6cdcd;
    border-radius: 15px;
}

#workspaces button.active{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(202,158,230);
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: 8px;
    padding-right: 20px;
    padding-left: 20px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	#fff ;
    border: none;
    border-bottom: 6px solid rgb(143, 102, 168);
    border-radius: 15px;
}

#taskbar{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

#taskbar button{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); */
    background-color: rgb(237, 196, 147);
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    color: 	#ededed ;
    border: none;
    border-bottom: 6px solid rgb(193, 146, 103);
    border-radius: 15px;
}

#taskbar button.minimized{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(146, 140, 151);
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    color: 	#cba6f7 ;
    border: none;
    border-bottom: 6px solid rgb(98, 97, 99);
    border-radius: 15px;
}

#taskbar button.urgent{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(238, 92, 92);
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    color: 	#cba6f7 ;
    border: none;
    border-bottom: 6px solid rgb(183, 63, 63);
    border-radius: 15px;
}

#taskbar button.active{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: rgb(186, 238, 225);
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    color: 	#cba6f7 ;
    border: none;
    border-bottom: 6px solid rgb(131, 184, 171);
    border-radius: 15px;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
    background-color: #cdd6f4;
    color: #516079;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
}

#custom-dynamic_pill.low{
    background: rgb(148,226,213);
    background: linear-gradient(52deg, rgba(148,226,213,1) 0%, rgba(137,220,235,1) 19%, rgba(116,199,236,1) 43%, rgba(137,180,250,1) 56%, rgba(180,190,254,1) 80%, rgba(186,187,241,1) 100%); 
    background-size: 300% 300%;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
    animation: gradient 15s ease infinite;
    font-weight: bolder;
    color: #fff;
}
#custom-dynamic_pill.normal{
    background: rgb(166,209,137);
    background: linear-gradient(52deg, rgba(166,209,137,1) 0%, rgba(166,227,161,1) 26%, rgba(148,226,213,1) 65%, rgba(129,200,190,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
    font-weight: bolder;
    color: #fff;
}
#custom-dynamic_pill.critical{
    background: rgb(235,160,172);
    background: linear-gradient(52deg, rgba(235,160,172,1) 0%, rgba(243,139,168,1) 30%, rgba(231,130,132,1) 48%, rgba(250,179,135,1) 77%, rgba(249,226,175,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
    font-weight: bolder;
    color: #fff;
}


#custom-dynamic_pill.playing{
    background: rgb(249,226,175);
    background: linear-gradient(45deg, rgba(249,226,175,1) 0%, rgba(245,194,231,1) 20%, rgba(180,190,254,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
    font-weight: 900;
    color: #fff ;
}
#custom-dynamic_pill.paused{
    background: #fff ;
    font-weight: bolder;
    color: #b4befe;
}

#custom-ss{
    background: #fff;
    color: rgba(203,166,247,1);
    font-weight:  bolder;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

#custom-cycle_wall{
    background: rgb(245,194,231);
    /* background: linear-gradient(45deg, rgba(245,194,231,1) 0%, rgba(203,166,247,1) 0%, rgba(243,139,168,1) 13%, rgba(235,160,172,1) 26%, rgba(250,179,135,1) 34%, rgba(249,226,175,1) 49%, rgba(166,227,161,1) 65%, rgba(148,226,213,1) 77%, rgba(137,220,235,1) 82%, rgba(116,199,236,1) 88%, rgba(137,180,250,1) 95%);  */
    color: #fff;
    background-size: 500% 500%;
    /* animation: gradient 7s linear infinite; */
    font-weight:  bolder;
    padding: 5px;
    border-radius: 15px;
}

#custom-expand {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -3 5 5px;
    background-color: #cb7cbe ;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: 300% 300%;
    font-weight: bolder;
    color: 	rgb(244, 240, 233) ;
    border: none;
    border-bottom: 6px solid #8a4a80;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 10px;    
}


#clock {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    background: rgb(179, 42, 142);
    /* background: linear-gradient(45deg, rgb(99, 6, 74) 0%, rgba(203,166,247,1) 64%, rgba(202,158,230,1) 100%);  */
    margin-left: 1px;
    margin-right: 3px;
    min-width: 50px;
    color: #f8e1b7 ;
    background-size: 300% 300%;
    /* animation: gradient 20s ease infinite; */
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    font-weight: bolder;
    padding-left: 15px;
    border: none;
    border-bottom: 7px solid rgb(155, 32, 122);
    border-radius: 15px;
}

#battery.charging, #battery.plugged {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 70px;
    color: #aed3ae;
    background: #495026 ;
    margin-right: 10px;
    border: none;
    border-bottom: 7px solid #2e3315;
    border-radius: 15px;
}

#battery {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    background-color: #07683e;
    color:#eae4d0;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: none;
    border-bottom: 7px solid #297f5a;
    border-radius: 15px;
}

@keyframes blink {
    to {
        background-color: #f9e2af;
        color:#96804e;
    }
}

#battery.critical:not(.charging) {
    background-color:  #f38ba8;
    color:#bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
   
}

#cpu {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    min-width: 80px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(39, 154, 207);
    /* background: linear-gradient(52deg, rgba(180,190,254,1) 0%, rgba(137,220,235,1) 32%, rgba(137,180,250,1) 72%, rgba(166,227,161,1) 100%);  */
    background-size: 300% 300%;
    /* animation: gradient 20s ease infinite; */
    /* text-shadow: 0 10 5px rgba(0, 0, 0, 0.8); */
    /* background-color: #b4befe; */
    color: 	#edebe6;
    font-weight: bolder;
    border: none;
    border-bottom: 7px solid rgb(58, 125, 156);
    border-radius: 15px;


}

#memory {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 60px;
    background-color: #cba6f7;
    color: 	#55406e;
    font-weight: bolder;
    border: none;
    border-bottom: 7px solid #9172b6;
    border-radius: 15px;

}

#disk {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    background-color: #cca45a;
    color: #572e05;
}

#backlight {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #090427;
    min-width: 40px;
    background-color: #c3cac2 ;
    border: none;
    border-bottom: 7px solid #8a9488;
    border-radius: 15px;
}

#network{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:#000;
}

#network.disabled{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #45475a;
}

#network.disconnected{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(243,139,168);
    /* background: linear-gradient(45deg, rgba(243,139,168,1) 0%, rgba(250,179,135,1) 100%);  */
    color: #fff;
    font-weight: bolder;
    padding-right: 11px;
    border: none;
    border-bottom: 7px solid rgb(213, 115, 142);
    border-radius: 15px;
}

#network.linked, #network.wifi{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #b6dab6 ;
    border: none;
    border-bottom: 7px solid #88ac88;
    border-radius: 15px;
}

#network.ethernet{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#f9e2af ;
}


#pulseaudio {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 40px;
    background-color:  	#fab387;
    color: #734a31;
    border: none;
    border-bottom: 7px solid #b87c57;
    border-radius: 15px;
}

#pulseaudio.muted {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #9f7154;
}

#custom-media {
    margin-right: 3px;
    margin-left: 1px;
    color: #66cc99;
}

#custom-media.custom-spotify {
    margin-right: 3px;
    margin-left: 1px;
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    margin-right: 3px;
    margin-left: 1px;
    background-color: #ffa000;
}

#temperature {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #f9e2af;
    color:#96804e;
}
#temperature.critical {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ce91a0 ;
    color:#50393f;
    border: none;
    border-bottom: 7px solid #a26a79;
    border-radius: 15px;
}

#tray {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #96d5dd;
    border: none;
    border-bottom: 7px solid #66a1a9;
    border-radius: 15px;
}

#tray > .passive {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    box-shadow: rgba(0, 0, 0, 0.5) 0 -6 3 1px;
    margin-right: 3px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    margin-right: 3px;
    margin-left: 1px;
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    margin-right: 3px;
    margin-left: 1px;
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
